{% extends "admin/base_site.html" %}
{% load i18n unfold %}

{% block extrahead %}
{{ block.super }}
{% if form %}{{ form.media }}{% endif %}
{% endblock %}

{% block content %}
{% if issued %}
  <p>{% trans "These license keys are shown once. Only the hash is kept after you leave this page." %}</p>
  <ul>
    {% for key in issued %}
      <li><code>{{ key }}</code></li>
    {% endfor %}
  </ul>
{% else %}
  <form method="post" novalidate>
    {% csrf_token %}
    <fieldset class="module aligned">
      {{ form.non_field_errors }}
      {% for field in form %}
        {% include "unfold/helpers/field.html" with field=field %}
      {% endfor %}
    </fieldset>
    {% component "unfold/components/button.html" with submit=1 %}
      {% trans "Issue keys" %}
    {% endcomponent %}
  </form>
{% endif %}
{% endblock %}
